#board {
    margin-top: 100px;
    margin-left: 100px;
}
.line {
    background: #313131;
}
.square {
    width: 20px;
    height: 20px;
    margin: 0px;
    outline: 1px solid;
    display: inline-block;
    float: left;
    background: #FFFFFF;
}

.filled {
    background: red;
}